{% extends './base.html' %}

{% block title %} Aircraft Search {% endblock %}


{% block content %}
<!--# search input-->
<form action="" method="GET">
    <div class="input-group input-group-lg">
        <span class="input-group-text" id="inputGroup-sizing-lg">Search</span>
        <input type="text" minlength="2" class="form-control" name="tail"
                aria-describedby="inputGroup-sizing-lg"
        placeholder="Please enter tail number here..." area-label="search">

        <span class="input-group-text" id="inputGroup-sizing-lg">OR/AND</span>
        <input type="text" minlength="2" class="form-control" name="serial"
                aria-describedby="inputGroup-sizing-lg"
        placeholder="Please enter serial number here..." area-label="search">
        <button type="submit" class="btn btn-success">Search</button>
    </div>
{{ HttpRequest.path_info }}
</form>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Tail number</th>
        <th scope="col">Serial number</th>
        <th scope="col">Aircraft type name</th>
        <th scope="col">Year of production</th>
        <th scope="col">Image #1</th>
        <th scope="col">Image #2</th>
        <th scope="col">Image #3</th>

    </tr>
    </thead>
    <tbody>
    {% for item in page_obj %}
        <tr>
            <td><button class="btn btn-primary btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="collapse" data-bs-target="#{{ item.serial_number }}"
            aria-expanded="false" aria-controls="collapseExample">{{ item.tail_number }}</button>.</a></td>
            <td>{{ item.serial_number }}</td>
            <td>{{ item.aircraft_type_name }}</td>
            <td>{{ item.year_of_production }}</td>
            {% for img in item.images %}
                {% if forloop.counter <= 3 %}
                    <td><img src="{{ img.url }}" width="150" height="150"></td>
                {% endif %}
            {% endfor %}

        </tr>
        {% for company in companies %}
            {% for airport in airports %}
            {% if company.company_id == item.company_id %}
                {% if airport.icao == item.home_base %}
                    <tr class="collapse" id="{{ item.serial_number }}">
                        <td colspan="7"><div class="collapse" id="{{ item.serial_number }}">
                            <div class="card card-body">Aircraft class: {{ item.aircraft_class_name }}</div>
                            <div class="card card-body">Company name: {{ company.name }}</div>
                            <div class="card card-body">Company phone: {{ company.phone }}</div>
                            <div class="card card-body">Company web-site: {{ company.website }}</div>
                            <div class="card card-body">Company id: {{ company.company_id }}</div>
                            <div class="card card-body">Airports: </div>
                            <div class="card card-body">ICAO: {{ airport.icao }}</div>
                            <div class="card card-body">IATA: {{ airport.iata }}</div>
                            <div class="card card-body">Airport name: {{ airport.name }}</div>
                            <div class="card card-body">Home base: {{ item.home_base }}</div>
                        </td>
                    </tr>
                {% endif %}
            {% endif %}
            {% endfor %}
        {% endfor %}
    {% endfor %}
    </tbody>


</table>

<nav aria-label="">
    <ul class="pagination">
        {% if current_page == 1 %}
        <li class="page-item disabled">
            {% else %}
        <li class="page-item">
            {% endif %}
            <a class="page-link" href="?page={{ current_page|add:" -1" }}">Previous</a>
        </li>
        {% for p in page_obj.paginator.page_range %}
        {% if current_page == p %}
        <li class="page-item disabled" aria-current="page">
            {% else %}
        <li class="page-item">
            {% endif %}
            <a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
        {% endfor %}
        <a class="page-link" href="?page={{ current_page|add:" 1" }}">Next</a>
        </li>
    </ul>
</nav>


{% endblock %}